h1 {
    text-align: center  ;
font-size:50px;
font-family: 'Times New Roman', Times, serif;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (250px, 1fr));
    gap: 20px;
    padding: 20px;

}
.producto {
   border: 1px solid #ddd;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 4px 8px rgba(0,0,0,0,0.1);
   text-align: center;
   transition: transform 0.2s;
}

.producto:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0,0.2);
}



.producto img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.producto h3{
    font-size: 1.2em;
    margin: 10px 0;

}

.producto p{
    font-size: 0.9em;
    color: #666
    padding: 0 15px;
}

.producto span{
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    color: #007bff;
    margin: 10px 0
}

.boton{
    background-color: aqua;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;

}
.boton:hover{
    background-color: #3e8e41;
}